 .steel-blue {
  background-color: #5293bc !important
 }

 .cinder {
  background-color: #161320 !important
 }

 .blueberry {
 	background-color: #6B7A8F !important
 }

 .blueberry-text {
 	color: #6B7A8F !important
 }

 .apricot {
 	background-color: #F7882F !important
 }

 .citrus {
 	background-color: #F7C331 !important
 }

 .apple-core{
 	background-color: #DCC7AA !important;
 }